language: cpp
sudo: required
dist: bionic # Ubuntu 18.04 with gcc 7.4.0 / Clang 7 / CMake 3.12.4
compiler:
- gcc
# - clang
os:
- linux
before_install: true
install: true
script: 
- ./scripts/build.sh
- ./scripts/run.sh
after_success: true
branches:
  only:
  - main
notifications:
  email: 
    recipients:
      - 943648187@qq.com
    on_success: never # default: change
    on_failure: always # default: always
env:
  global:
    - OMP_NUM_THREADS=4